.section-footer
	.address
		p © Адмін панель
	//- .footer__social
	//- 	a(href='#' target='_blank')
	//- 		i(class='fa fa-vk')
	//- 	a(href='#' target='_blank')
	//- 		i(class='fa fa-telegram')
	//- 	a(href='#' target='_blank')
	//- 		i(class='fa fa-twitter')
	//- 	a(href='#' target='_blank')
	//- 		i(class='fa fa-youtube')